    :root {
      --mini-player-base-size: 25vh;
    }

    html,
    body {
      height: 100vh;
      margin: 0;
      padding: 0;
    }

    .ibm-plex-mono-thin {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 100;
      font-style: normal;
    }

    .ibm-plex-mono-extralight {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 200;
      font-style: normal;
    }

    .ibm-plex-mono-light {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 300;
      font-style: normal;
    }

    .ibm-plex-mono-regular {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 400;
      font-style: normal;
    }

    .ibm-plex-mono-medium {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 500;
      font-style: normal;
    }

    .ibm-plex-mono-semibold {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 600;
      font-style: normal;
    }

    .ibm-plex-mono-bold {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 700;
      font-style: normal;
    }

    .ibm-plex-mono-thin-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 100;
      font-style: italic;
    }

    .ibm-plex-mono-extralight-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 200;
      font-style: italic;
    }

    .ibm-plex-mono-light-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 300;
      font-style: italic;
    }

    .ibm-plex-mono-regular-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 400;
      font-style: italic;
    }

    .ibm-plex-mono-medium-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 500;
      font-style: italic;
    }

    .ibm-plex-mono-semibold-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 600;
      font-style: italic;
    }

    .ibm-plex-mono-bold-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 700;
      font-style: italic;
    }


    body {
      --c-green: #1beb9e;
      --c-black: #1a1a1a;
      --c-black-mini-player: #2a2a2a;
      --h-header-height: 48px;
      --padding-4: 4px;
      --padding-16: 16px;
      --a-min-height: 56px;

      font-family: "IBM Plex Mono", monospace;
      font-weight: 400;
      font-style: normal;

      background-color: var(--c-black);
      color: var(--c-green);
    }

    h2 {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 700;
      font-style: normal;
      text-align: left;
    }

    @media (display-mode: standalone) {
      body {
        background-color: var(--c-black);
      }
    }

    header {
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--c-black);
      display: flex;
      flex-direction: row;
      width: 100vw;
      height: var(--h-header-height);
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
    }

    header :first-child {
      margin-right: auto;
      padding-left: var(--padding-16);
    }

    header :last-child {
      margin-left: auto;
      padding-right: var(--padding-16);
    }

    #mini-player {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: var(--mini-player-base-size);
      background-color: var(--c-black-mini-player);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: var(--padding-16);
      margin: 0;
      box-sizing: border-box;
    }

    #mini-player p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }

    #mini-player-controls {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    @media (max-height: 500px) {
      #mini-player p {
        margin: 0;
      }

      #button-seek-back,
      #button-seek-forward {
        width: 16px;
        height: 16px;
      }

      #button-play,
      #button-stop {
        width: 24px;
        height: 24px;
      }
    }

    @media (min-height: 501px) {

      #button-seek-back,
      #button-seek-forward {
        width: 36px;
        height: 36px;
      }

      #button-play,
      #button-stop {
        width: 56px;
        height: 56px;
      }
    }


    .player-controls-disabled {
      filter: grayscale(1);
      opacity: 0.25;
    }

    .hidden {
      display: none;
    }

    .content-container {
      display: flex;
      padding-top: var(--h-header-height);
      padding-bottom: calc(25vh + (var(--padding-16) * 4));
      flex-direction: column;
    }

    .content-container h1,
    .content-container h2,
    .content-container h3,
    .content-container h4 {
      padding-left: var(--padding-16);
      padding-right: var(--padding-16);
    }


    .content-container p {
      padding-left: var(--padding-16);
      padding-right: var(--padding-16);
      margin: 0;
    }

    #playlist a,
    #currently-playing-tracks a,
    #currently-playing-links a {
      box-sizing: border-box;
      color: inherit;
      text-align: left;
      min-height: var(--a-min-height);
      width: 100vw;
      padding-left: var(--padding-16);
      padding-right: var(--padding-16);
      display: flex;
      align-items: center;
      text-decoration: none;
      word-break: break-all;
    }

    #about p a {
      background-color: var(--c-green);
      color: var(--c-black);
      text-decoration: none;
      word-break: break-all;
    }

    #about p {
      padding-bottom: var(--padding-16);
      padding-left: var(--padding-16);
      padding-right: var(--padding-16);
      line-height: 1.5;
    }

    .normal-hyperlink a {
      background-color: var(--c-green);
      color: var(--c-black);
      text-decoration: none;
    }