    :root {
      --mini-player-base-size: 15vh;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      /* disable scrollbars by default */
      overflow: hidden;
    }

    .ibm-plex-mono-thin {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 100;
      font-style: normal;
    }

    .ibm-plex-mono-extralight {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 200;
      font-style: normal;
    }

    .ibm-plex-mono-light {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 300;
      font-style: normal;
    }

    .ibm-plex-mono-regular {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 400;
      font-style: normal;
    }

    .ibm-plex-mono-medium {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 500;
      font-style: normal;
    }

    .ibm-plex-mono-semibold {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 600;
      font-style: normal;
    }

    .ibm-plex-mono-bold {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 700;
      font-style: normal;
    }

    .ibm-plex-mono-thin-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 100;
      font-style: italic;
    }

    .ibm-plex-mono-extralight-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 200;
      font-style: italic;
    }

    .ibm-plex-mono-light-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 300;
      font-style: italic;
    }

    .ibm-plex-mono-regular-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 400;
      font-style: italic;
    }

    .ibm-plex-mono-medium-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 500;
      font-style: italic;
    }

    .ibm-plex-mono-semibold-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 600;
      font-style: italic;
    }

    .ibm-plex-mono-bold-italic {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 700;
      font-style: italic;
    }


    body {
      --c-green: #1beb9e;
      --c-black: #1a1a1a;
      --c-black-mini-player: #2a2a2a;
      --c-debug: var(--c-black);
      --h-header-height: 48px;
      --padding-4: 4px;
      --padding-8: 8px;
      --padding-16: 16px;
      --a-min-height: 56px;

      font-family: "IBM Plex Mono", monospace;
      font-weight: 400;
      font-style: normal;

      background-color: var(--c-debug);
      color: var(--c-green);

      touch-action: manipulation;
    }

    h2 {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 700;
      font-style: normal;
      text-align: left;
    }

    @media (display-mode: standalone) {
      body {
        background-color: var(--c-black);
      }
    }

    header {
      width: 100vw;
      height: var(--h-header-height);
      box-sizing: border-box;
    }

    .header-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      box-sizing: border-box;
    }

    .header-nav> :first-child {
      margin-right: auto;
      padding-left: var(--padding-16);
    }

    .header-nav> :last-child {
      margin-left: auto;
      padding-right: var(--padding-16);
    }

    main {
      flex-grow: 1;
      /* if needed then allow main content area to scroll only in the Y direction */
      overflow-x: hidden;
      overflow-y: auto;
    }

    #mini-player {
      background-color: var(--c-black-mini-player);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: var(--padding-16);
      margin: 0;
      box-sizing: border-box;
    }

    #mini-player p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }

    #mini-player-controls {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    @media (max-height: 500px) {
      #mini-player p {
        margin: 0;
      }

      #button-seek-back,
      #button-seek-forward {
        width: 16px;
        height: 16px;
      }

      #button-play,
      #button-stop {
        width: 24px;
        height: 24px;
      }
    }

    @media (min-height: 501px) {

      #button-seek-back,
      #button-seek-forward {
        width: 36px;
        height: 36px;
      }

      #button-play,
      #button-stop {
        width: 56px;
        height: 56px;
      }
    }

    /* 
    Layout container for the entire app. Each section is fixed in position with the main content
    area expanding to fill the available space between the header and footer.
    */
    .app-container {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
    }

    .player-controls-disabled {
      filter: grayscale(1);
      opacity: 0.25;
    }

    .hidden {
      display: none;
      visibility: hidden;
    }

    /* represents an "app" screen */
    .screen {
      padding-bottom: calc(var(--padding-16) * 2);
    }

    .screen h1,
    .screen h2,
    .screen h3,
    .screen h4 {
      padding-left: var(--padding-16);
      padding-right: var(--padding-16);
    }

    .screen p {
      padding: 0;
      margin: 0;
    }

    #playlist a,
    #currently-playing-tracks a,
    #currently-playing-links a {
      box-sizing: border-box;
      color: inherit;
      text-align: left;
      min-height: var(--a-min-height);
      padding-left: var(--padding-16);
      padding-right: var(--padding-16);
      width: 100vw;
      display: flex;
      align-items: center;
      text-decoration: none;
      word-break: break-all;
    }

    #about h2 {
      padding-bottom: var(--padding-16);
      padding-left: var(--padding-16);
      padding-right: var(--padding-16);
      margin: 0;
    }

    #about p {
      padding-bottom: var(--padding-16);
      padding-left: var(--padding-16);
      padding-right: var(--padding-16);
      line-height: 1.5;
    }

    #about p a {
      background-color: var(--c-green);
      color: var(--c-black);
      text-decoration: none;
      word-break: break-all;
    }

    .normal-hyperlink a {
      background-color: var(--c-green);
      color: var(--c-black);
      text-decoration: none;
    }

    .stacked-button-container {
      display: grid;
    }

    .stacked-button-container img {
      grid-area: 1 / 1;
    }