:root {
  --c-cyan: #ff00ff;
  --c-green: #1beb9e;
  --c-green2: #5BF1BA;
  --c-black: #1a1a1a;
  --c-black-mini-player: #2a2a2a;
  --c-transparent: rgba(0, 0, 0, 0);
  --c-debug: var(--c-cyan);

  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;

  --mini-player-base-size: 15vh;
  --mini-player-padding: var(--space-16);
  --mini-player-controls-padding: var(--space-16);
  --fullscreen-player-controls-padding: var(--space-16);

  --main-screen-hidden-z-index: 0;
  --main-screen-visible-z-index: 1;
  --main-header-footer-z-index: 2;
  --fullscreen-player-z-index: 2;
  --modal-z-index: 3;

  --size-8: 8px;
  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-36: 36px;
  --size-48: 48px;
  --size-56: 56px;
  --size-96: 96px;

  --header-padding: var(--size-16);
  --header-height: var(--size-48);

  --episode-a-min-height: var(--size-96);
  --playlist-a-min-height: var(--size-48);

  --default-button-size: var(--size-24);
  --button-size-small: var(--size-36);
  --button-size-large: var(--size-56);
}

/* 

Material Symbols

*/
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(material-symbols.woff) format('woff');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: var(--default-button-size);
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-size: clamp(12px, 4vw, 16px);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* disable scrollbars by default */
  overflow: hidden;
}


.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;

  background-color: var(--c-black);
  color: var(--c-green);

  touch-action: manipulation;
}

button {
  background-color: var(--c-transparent);
  border-radius: 100%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

button,
p,
span {
  user-select: none;
}


h2 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}

h4 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}

@media (display-mode: standalone) {
  body {
    background-color: var(--c-black);
  }
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100dvw;
  height: 100dvh;
}

header {
  width: 100dvw;
  height: var(--header-height);
}

header p {
  margin: 0;
}

header,
footer {
  z-index: var(--main-header-footer-z-index);
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.header-nav> :first-child {
  margin-right: auto;
  margin-left: var(--header-padding);
}

.header-nav> :last-child {
  margin-left: auto;
  margin-right: var(--header-padding);
}

#scroll-container {
  display: grid;
  grid-template-areas: "scroll-container";
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.screen {
  grid-area: scroll-container;
  height: 0;
  overflow: hidden;
  width: 100%;
  z-index: var(--main-screen-hidden-index);
}

.screen.active {
  visibility: visible;
  height: auto;
  min-height: 100%;
  overflow: visible;
  z-index: var(--main-screen-visible-index);
}

#mini-player {
  background-color: var(--c-black-mini-player);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: var(--mini-player-padding);
  padding-bottom: var(--space-16);
  margin: 0;
  align-items: center;
  justify-items: center;
}

#mini-player-title {
  margin-top: var(--size-8);
}

#mini-player-time {
  margin-bottom: var(--size-8);
}

@media screen and (min-width: 768px) {
  #mini-player {
    grid-template-columns: repeat(3, 1fr);
  }

  #mini-player-controls {
    margin-top: 0;
  }

  #mini-player-title {
    margin-top: 0;
  }

  #mini-player-time {
    margin-bottom: 0;
  }
}

.mini-player-info {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  align-content: center;
  margin: 0;
  padding-left: var(--size-16);
  padding-right: var(--size-16);
}

#mini-player-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
  min-height: var(--button-size-large);
  margin-top: var(--size-8);
  padding-left: var(--mini-player-controls-padding);
  padding-right: var(--mini-player-controls-padding);
}

.header-spacer {
  display: inline;
  width: var(--header-button-size);
  height: var(--header-button-size);
}

.player-button {
  cursor: pointer;
  color: var(--c-green);
}

.player-button:not(.player-controls-disabled):hover {
  filter: brightness(200%);
}

.player-button.mini {
  font-size: var(--default-button-size);
}


.player-button.small {
  cursor: pointer;
  font-size: var(--button-size-small);
}

.player-button.large {
  cursor: pointer;
  font-size: var(--button-size-large);
}

.player-controls-disabled {
  filter: grayscale(1);
  opacity: 0.25;
}

.hidden {
  display: none;
  visibility: hidden;
}

.modal h2,
.modal h4,
.screen h1,
.screen h2,
.screen h3,
.screen h4 {
  padding-left: var(--space-16);
  padding-right: var(--space-16);
}

.screen p {
  padding: 0;
  margin: 0;
}

#episodes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

#episodes a {
  color: inherit;
  text-align: left;
  min-height: var(--episode-a-min-height);
  padding: var(--space-16);
  display: flex;
  align-items: center;
  text-decoration: none;
  word-break: break-all;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
}

#episodes a:nth-child(-n + 1) {
  border-top-style: solid;
}

@media screen and (480px < width <=768px) {
  #episodes {
    grid-template-columns: repeat(2, 1fr);
  }

  #episodes a:nth-child(-n + 2) {
    border-top-style: solid;
  }

  #episodes a:nth-child(even) {
    border-left: none;
  }

  #mini-player-controls {
    gap: var(--size-8);
  }
}


@media screen and (768px < width) {

  body {
    --episode-a-min-height: 128px;
  }

  #mini-player-controls {
    margin-top: 0;
    gap: var(--size-16);
  }

  #episodes {
    grid-template-columns: repeat(3, 1fr);
  }

  #episodes a:nth-child(-n + 3) {
    border-top-style: solid;
    border-width: 1px;
  }

  #episodes a:nth-child(3n+2) {
    border-left: none;
    border-right: solid;
    border-width: 1px;
  }

  #episodes a:nth-child(3n+3) {
    border-left: none;
    border-right: solid;
    border-width: 1px;
  }

  #episodes a:last-child {
    border-right: solid;
    border-width: 1px;
  }
}

#playlist-tracks a,
#playlist-links a {
  color: inherit;
  text-align: left;
  min-height: var(--playlist-a-min-height);
  padding-left: var(--space-16);
  padding-right: var(--space-16);
  padding-bottom: var(--space-4);
  padding-top: var(--space-4);
  display: flex;
  align-items: center;
  text-decoration: none;
  word-break: break-all;
}

#about p a {
  background-color: var(--c-green);
  color: var(--c-black);
  text-decoration: none;
  word-break: break-all;
}

.normal-hyperlink a {
  background-color: var(--c-green);
  color: var(--c-black);
  text-decoration: none;
}

.stacked-button-container {
  display: grid;
}

.stacked-button-container img {
  grid-area: 1 / 1;
}

@media (orientation: landscape) {
  .modal-container {
    min-height: 80dvh;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: var(--modal-z-index);
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: auto;
}

.modal-container {
  margin: auto;
  width: 90dvw;
  height: 90dvh;
  border-style: solid;
  border-width: 1px;
  background-color: var(--c-black);
  overflow: auto;
}

.modal a[target="_blank"]::after {
  content: "\00a0↗";
}

@media screen and (min-width: 768px) {
  .modal-container {
    max-height: 50%;
  }
}

.modal-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  padding-top: var(--space-16);
  padding-right: var(--space-16);
}

.modal p {
  padding-left: var(--space-16);
  padding-right: var(--space-16);
}

@media (max-width: 399px) {

  :root {

    --header-padding: var(--size-8);
    --header-height: var(--size-32);
    --header-button-size: var(--size-16);

    --button-size-small: var(--size-32);
    --button-size-large: var(--size-48);

    --mini-player-padding: var(--space-8);
    --mini-player-controls-padding: var(--space-4);
    --fullscreen-player-controls-padding: var(--size-4);
  }
}

@media (max-width: 319px) {

  :root {
    --button-size-small: var(--size-24);
    --button-size-large: var(--size-32);
  }
}